body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 576px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   background: white;
   box-shadow: 0 0 10px black;
   z-index: 9997;

   &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;


      &__logo {
         color: red;
         text-decoration: none;
         font-weight: 900;
         padding: 10px 0;

         span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            color: #2b2b2b;
            transition: all 0.5s;
            animation: animate 2s infinite;

            &:nth-child(1) {
               animation-delay: 0.1s;
            }

            &:nth-child(2) {
               animation-delay: 0.2s;
            }

            &:nth-child(3) {
               animation-delay: 0.3s;
            }

            &:nth-child(4) {
               animation-delay: 0.4s;
            }

            &:nth-child(5) {
               animation-delay: 0.5s;
            }

            &:nth-child(6) {
               animation-delay: 0.6s;
            }

            &:nth-child(7) {
               animation-delay: 0.7s;
            }

            @keyframes animate {
               0% {
                  color: rgba(255, 255, 255, 0.1);
                  transform: translateY(0);
                  margin-left: 0;

               }

               25% {
                  color: red;
                  transform: translateY(-5px);
                  margin-left: 3px;
                  text-shadow: 0 10px 5px rgba(0, 0, 0, 1);
               }

               100% {
                  color: rgba(255, 255, 255, 0.1);
                  transform: translateY(0);
               }
            }
         }

         
      }

      &-item {
         position: fixed;
         z-index: 9998;
         top: 0;
         bottom: 0;
         right: 0;
         display: flex;
         flex-direction: column;

         box-sizing: border-box;
         width: 0;
         overflow: hidden;
         background: red;
         height: 100%;
         transition: all ease 0.5s;

         &.active {
            transition: all ease 0.5s;
            width: 50%;
            padding: 20px 10px;

            &~.burger {
               span {
                  height: 0;

                  &::before {
                     transform: translateY(7px) rotate(45deg);
                     transition: all ease 0.5s;
                     background: white;
                  }

                  &::after {
                     transform: translateY(-7px) rotate(-45deg);
                     transition: all ease 0.5s;
                     background: white;
                  }
               }
            }
         }

         &__links {
            color: red;
            padding: 10px 20px;
            box-sizing: border-box;
            text-decoration: none;
            background: white;
            text-align: center;
            margin-top: 30px;
            border-radius: 10px;

         }


      }

      .burger {
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 30px;




         span {
            position: absolute;
            width: 25px;
            height: 3px;
            background: red;
            z-index: 9999;

            &::before {
               content: "";
               position: absolute;
               width: 25px;
               height: 3px;
               background: red;
               top: -7px;
               transition: all ease 0.5s;
            }

            &::after {
               content: "";
               position: absolute;
               width: 25px;
               height: 3px;
               background: red;
               top: 7px;
               transition: all ease 0.5s;
            }
         }


      }
   }
}

.wrapper {
   background: #fff;
   position: fixed;
   width: 100%;
   height: 100vh;
   /*This part is important for centering*/
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100000;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   &.actived {
      display: none;
   }
}

.typing-demo {
   width: 23ch;
   animation: typing 2s steps(22), blink .5s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   border-right: 3px solid;
   font-family: monospace;
   font-size: 17px;
   font-weight: 900;
}

@keyframes typing {
   from {
      width: 0
   }
}

@keyframes blink {
   50% {
      border-color: transparent
   }
}

.section1 {
   margin-top: 30px;

   &-inner {
      display: flex;
      flex-direction: column;

      .row {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 10px;

         h4 {
            width: 30%;
            font-size: 15px;
            border: 1px solid black;
            padding: 2.5px 5px;
            box-sizing: border-box;
         }
      }

      &-top {
         margin-bottom: 20px;
      }
   }
}

.section2 {
   margin-top: 50px;
   display: none;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   &.active {
      display: flex;
   }

   h3 {
      color: red;
      text-align: center;
      margin-bottom: 20px;
   }
}

svg {
   width: calc(68px * 3);
   height: calc(66px * 3);
}

/* ELEMENTS POSITIONS */
#building_bottom,
#window_01,
#window_02,
#door {
   transform: translateY(20px);
   z-index: 1;
}

#building_top,
#balcony_01,
#balcony_02,
#balcony_03,
#balcony_04,
#balcony_05,
#balcony_06 {
   transform: translateY(56px);
   z-index: -1;
}

#small_tree,
#big_tree {
   transform: translateY(28px);
}

/* ELEMENTS ANIMATIONS */
#building_bottom {
   animation: buildingBottom 1s ease-out forwards;
}

#window_01,
#window_02,
#door {
   animation: buildingBottom 1s 0.1s ease-in forwards;
}

#building_top {
   animation: buildingTop 1s 1.2s ease-out forwards;
}

#balcony_01,
#balcony_02,
#balcony_03 {
   animation: buildingTop 1s 1.4s ease-out forwards;
}

#balcony_04,
#balcony_05,
#balcony_06 {
   animation: buildingTop 1s 1.6s ease-out forwards;
}

#small_tree,
#big_tree {
   animation: trees 1s 2s ease-out forwards;
}

#cloud_left {
   transform: translateX(-11px);
   animation: cloudLeft 20s 2s linear infinite;
}

#cloud_right {
   transform: translateX(72px);
   animation: cloudRight 15s 2s linear infinite;
}

/* ANIMATIONS */
@keyframes buildingBottom {
   0% {
      transform: translateY(20px)
   }

   100% {
      transform: translateY(0)
   }
}

@keyframes buildingTop {
   0% {
      transform: translateY(56px);
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes trees {
   0% {
      transform: translateY(28px);
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes cloudLeft {
   0% {
      transform: translateX(-11px);
   }

   100% {
      transform: translateX(100px);
   }
}

@keyframes cloudRight {
   0% {
      transform: translateX(72px);
   }

   100% {
      transform: translateX(-100px);
   }
}